# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
crowd-common/target/generated-sources/
crowd-common/target/generated-test-sources/
crowding-manager-api/target/generated-sources/
crowding-manager-api/target/generated-test-sources/
crowding-manager-bean/target/generated-sources/
crowding-manager-bean/target/generated-test-sources/
crowding-manager-impl/target/generated-sources/
crowding-manager-impl/target/generated-test-sources/
crowding-manager-main/target/crowding-manager-main.war
crowding-manager-main/target/generated-sources/
crowding-manager-main/target/generated-test-sources/
crowding-potal-impl/target/generated-sources/
crowding-potal-impl/target/generated-test-sources/
